@import url(./__logo/header__logo.css);
@import url(./__line/header__line.css);

.header {
  padding: 45px 15% 0px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .header {
    border-bottom: 1px solid #545454;
    padding: 28px 27px 31px;
  }
}
