.popup__image {
  min-width: 25vw;
  min-height: 25vh;
  max-width: 75vw;
  max-height: 75vh;
  margin: 0;
  z-index: 3;
  border-radius: 5px;
  background-color: #84a1c9;
  background-image: url('../../../images/Logo-black.svg');
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}