.elements__picture {
  height: 282px;
  width: 282px;
  align-self: flex-start;
  z-index: 1;
  margin: 0;
  transition: all .2s linear;
  background-color: gray;
  background-position: center;
  background-size: cover;
}

.elements__picture:hover {
  cursor: pointer;
  opacity: .6;
}
